#OS X
.DS_Store
*.pages
#Windows
Thumbs.db
#vim
*.swp
#python
*.pyc
#vscode
.vscode/
#pyenv
.python-version
# acquisition data ignored, except for the example data
!python_code/acquisitions/example.*
python_code/acquisitions